@charset "UTF-8";

*{
    margin: 0;
}

html {
    font-size: 16px;
}

html, body {
    height: 100%;
}

body {
    background-color: #FFFF;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: auto minmax(300px,800px) 200px auto;
    grid-template-rows: min-content 90px auto 60px;
    grid-template-areas: 
    "header header  header  header"
    "nav    main    main    main"
    "nav    main    main    main"
    "footer footer  footer  footer";
}

nav {
    font-size: 15px;
    grid-area: nav;
    background-color: #17a1a1;
    min-width: 150px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    display: block;
    padding-bottom: 20px;
}

nav a:link, nav a:visited {
    background-color: #008b8b;
    color: white;
}

nav a:hover, nav a:active {
    background-color: #17a1a1;
    color: #d6b5b5;
}

header {
    grid-area: header;
    height: 60px;
    background-color: #deb887;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}

#boxmodell {
color: black;
}

header h1 {
    max-width: 1000px;
    margin: 0 auto;
}

main {
    grid-area: main;
    background-color: #5f9ea0;
    padding: 10px;
    max-width: 100%;
}

img {
    max-width: 100%;
}

#box{
    float: left;
    max-width: 50vh;
}

.imggrid {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: black;
    color: white;
}

/*
@media screen and (max-width:7500px) 
bilder display block

@media screen and (max-width:550px) nav upp högst upp 
display: flex;
flex-direction: row;
justify-content: start;