@charset "UTF-8";

*{
    margin: 0;
}

html {
    font-size: 18px;
}

html, body {
    height: 100%;
}

body {
    background-color: #FFFF;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: auto minmax(300px,800px) 200px auto;
    grid-template-rows: min-content 90px auto 60px;
    grid-template-areas: 
    "header header  header  header"
    "nav    main    main    main"
    "nav    main    main    main"
    "footer footer  footer  footer";
}

nav {
    font-size: 15px;
    grid-area: nav;
    background-color: #867e64;
    min-width: 150px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    display: block;
    padding-bottom: 20px;
}

nav a:link, nav a:visited {
    background-color: #867e64;
    color: white;
}

nav a:hover, nav a:active {
    background-color: #807964;
    color: #c0b7b7;
}

header {
    grid-area: header;
    height: 60px;
    background-color: #F2EFE9;
    color:#121013;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}

#boxmodell {
color: black;
}

header h1 {
    max-width: 1000px;
    margin: 0 auto;
}

h3 {
    color: #252627;
    margin-top: 10px;
}

main {
    grid-area: main;
    background-color: #c7ab86;
    padding: 10px;
    max-width: 100%;
}
#del2 {
    clear: both;
}

img {
    max-width: 100%;
}

#box{
    float: left;
    max-width: 50vh;
}

#design {
    float: left;
    max-width: 30vh;
    margin: 20px;
}

.imggrid {
    max-width: 1000px;
    display: block;
}

.aroundbox {
    position: relative;
    display: inline-block;
    margin: 2px;
}

#exempel {
    background-color: black;
    color: white;
}

.aroundbox div {
    position: absolute;
    border: 3px solid black;
    margin: none;
    padding: 5px;
    width: 200px;
}

#showbox ~ div {
    transform: scaleY(0);
    transform-origin: top;
    transition: tranform 1s;
}

#showbox:checked ~ div{
    transform: scaleY(1);
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: black;
    color: white;
}

@media screen and (max-width: 850px) {
    .floatimg {
        float: none;
    }
}

@media screen and (max-width: 650px) {
    body {
        display: block;
    }

    header {
        justify-content: left;
        padding-left: 10px;
    }
}

@media screen and (max-width: 850px) {
    .imggrid {
        display: block;
    }
}

@media screen and (max-width: 530px) {
    #design {
        float: none;
        max-width: 100%;
    }
}